/* .footer {
    background-color: #fbd0da;
    padding: 30px 0;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a73a50;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
  }
  
  ul li a.facebook {
    background-color: #3b5998;
  }
  
  ul li a.twitter {
    background-color: #55acee;
  }
  
  ul li a.instagram {
    background-color: #c13584;
  }
  
  ul li a:hover {
    transform: scale(1.1);
  }
  
  .heart {
    color: #f44336;
  }
  
  .made-with-love {
    font-size: 14px;
  }
   */